body {
    font-family: 'PT Sans', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0 -6px 0 0;
    padding: 0;
    overflow-x: hidden;
}

#columnContainer {
    flex: 1;
    display: inline-flex;
    flex-flow: row wrap;
    height: 80%;
}

#left {
    flex: 1 200px;
    min-width: 200px;
    background-color: #e4e4e4;
}

#right {
    flex: 10 300px;
    min-width: 300px;
    flex-wrap: wrap;
    margin-right: 6px;
    display: flex;
    flex-direction: column;
}

.border {
    margin: 0 auto;
    padding: 0 6px 6px 0;
    image-rendering: pixelated;
}

#timetableBorder {
    padding: 0 0 6px 0;
    background-position: 1px 0;
}

#timetable {
    background-color: white;
}

.content {
    background: white;
    padding: 12px;
}

.contenttop {
    margin-bottom: 6px;
}

.contentspacer {
    height: 100px;
}

#subjectList {
    min-height: 250px;
}

.clear {
    clear: both;
}

#progressBar {
    margin: 6px 6px 0 0;
}

#slider {
    margin: 6px 6px 0 0;
}

input {
    outline: none;
}

.ui-corner-all {
    border-radius: 0;
    outline: none;
}

.ui-slider-handle {
    outline: none;
    border: none !important;
    top: -0.2em;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -0.2em;
    margin-left: -.6em;
}

.ui-state-active {
    border: none !important;
}

#timetablesInfo {
    padding-top: 4px;
}

.footer {
    text-align: right;
    margin-bottom: 10px;
    font-size: 0.9em;
    padding-right: 20px;
}

.filler {
    flex-grow: 1;
}

.header {
    margin: 0;
    font-size: 1.2em;
    text-align: center;
    font-family: Montserrat,sans-serif;
}

.label {
    padding-bottom: 6px;
    border-bottom: 1px solid black;
    line-height: 2px;
    font-family: Montserrat,sans-serif;
    font-size: 1.1em;
    display: inline-block;
    margin-bottom: 8px;
}

a:visited, a {
    color: hsl(182, 100%, 21%);
}

#calculateButton {
    float: right;
    background-color: #50bbb6;
    text-decoration: none;
    border: none;
    padding: 4px;
    color: white;
    font-family: Montserrat,sans-serif;
    font-size: 1.1em;
    margin-top: -4px;
    cursor:pointer;
}

    #calculateButton:disabled,
    #calculateButton[disabled] {
        background-color: #bb8150;
        opacity: 0.4;
        color: white;
        cursor: initial;
    }

.inlineAction {
    cursor: pointer;
    float: right;
    position: absolute;
    bottom: 0px;
    text-decoration: none;
}

.deleteButton {
    color: #ff6d6d;
    right: 0px;
}

.infoButton, .infoButton:visited {
    color: dodgerblue;
    left: 0px;
}

.sortCheckbox {
    float: right;
}

.sortOption {
    padding-top: 4px;
    padding-bottom: 4px;
}

hr {
    width: 100%;
    height: 6px;
    border: none;
    margin: 4px;
}

.fc-time-grid-event {
    border-width: 2px 0 0 2px !important;
    border-radius: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
}

.fc-day-header {
    font-weight: normal;
    text-decoration: underline;
}

#timetable {
    font-size: 0.9em;
}

.subject {
    width: 100%;
    min-height: 60px;
    position: relative;
    border-top: solid 2px #e4e4e4;
}


.awesomplete mark {
    background: hsl(182, 51%, 78%);
}

.awesomplete li:hover mark {
    background: hsl(182, 100%, 41%);
}

.awesomplete li[aria-selected="true"] mark {
    background: hsl(182, 100%, 21%);
    color: inherit;
}

.fc-unthemed td.fc-today {
    background-color: white;
}


thead > tr > td {
    border-top: 0 !important;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:first-child,
table tr th:first-child {
    border-left: 0;
}

table tr td:last-child,
table tr th:last-child {
    border-right: 0;
}

.fc-bgevent {
    display: none;
    border: white solid;
    border-width: 0 2px 2px 0;
}

    .fc-bgevent.show-background-events {
        display: block;
    }

    .fc-bgevent.highlight-event {
        background-color: green !important;
        display: block;
    }


.awesomplete ul {
    list-style: none;
}

    .awesomplete ul li:hover {
        cursor: pointer;
        cursor: hand;
    }