body {
    font-family: 'PT Sans', sans-serif;
}

.borderlow {
    background: url('/img/dither_lowdense.png') repeat;
}

.borderhigh {
    background: url('/img/dither_highdense.png') repeat;
}

.border {
    margin: 0 auto;
    padding: 8px;
}

.content {
    background: white;
    padding: 12px;
}

.contenttop {
    margin-bottom: 12px;
}


#left {
    width: 300px;
    float: left;
}

#right {
    margin-left: 300px;
}

#subjectList{
    height:250px;
}

.clear {
    clear: both;
}

#progressBar {
    margin: 6px 6px 0 0;
}

#slider {
    margin: 6px 6px 0 0;
}

#timetablesInfo{
    padding-top:4px;
}

.label{
    padding-bottom:6px;
    text-decoration:underline;
}

.inlineAction {
    cursor: pointer;
    color: dodgerblue;
}

.sortCheckbox{
    float:right;
}

.sortOption{
    padding-bottom:4px;
}

hr {
    width: 100%;
    height: 6px;
    border: none;
    background: url('/img/dither_mediumdense.png') repeat;
    margin: 4px;
}



.fc-time-grid-event {
    border-width:2px !important;
}
.fc-day-header {
    font-weight: normal;
    text-decoration: underline;
}
