@using Timetabling;
@model List<Subject>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UoM Timetable Generator</title>
    <meta charset="utf-8" />

    <link href="~/css/jquery-ui.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/awesomplete.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/fullcalendar.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat|PT+Sans|Open+Sans:500" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#094183">
    <meta name="apple-mobile-web-app-title" content="UoM Timetable Generator">
    <meta name="application-name" content="UoM Timetable Generator">
    <meta name="msapplication-TileColor" content="#094183">
    <meta name="theme-color" content="#094183">

    <script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>

    <script src="~/scripts/jquery-3.3.1.min.js"></script>
    <script src="~/scripts/jquery-ui.min.js"></script>
    <script src="~/scripts/jquery.ui.touch-punch.min.js"></script>

    <script src="~/scripts/string_to_color.js"></script>
    <script src="~/scripts/awesomplete.min.js"></script>
    <script src="~/scripts/moment.js"></script>
    <script src="~/scripts/fullcalendar.min.js"></script>

    <script src="~/scripts/signalr.min.js"></script>

    <script type="text/javascript">
        $(function () {
            //Generate a global variable of each of the full subject list
            window.subjectList = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
        });
    </script>
    <script src="~/scripts/client.js?v=2"></script>
</head>
<body>
    <div id="columnContainer">
        <div id="left">
            <div class="border borderhigh">
                <div class="content contenttop">
                    <div class="header">University of Melbourne Timetable Generator</div>
                </div>
                <div class="content contenttop">
                    <div class="label">
                        1. Subject search:
                    </div>
                    <div>
                        <label for="subjectSearch">Subject:</label>
                        <input id="subjectSearch" />
                    </div>
                    <hr />
                    <div id="subjectList">
                    </div>
                </div>
                <div class="content contenttop">
                    <div class="label">
                        2. Sorting:
                    </div>
                    <div class="sortOption">
                        <label for="laterStartsCheckbox">Prefer later starts:</label>
                        <input class="sortCheckbox" id="laterStartsCheckbox" type="checkbox" checked="checked" />
                    </div>
                    <div class="sortOption">
                        <label for="lessDaysCheckbox">Prefer less days:</label>
                        <input class="sortCheckbox" id="lessDaysCheckbox" type="checkbox" checked="checked" />
                    </div>
                </div>
                <div class="content contenttop">
                    <div class="label">
                        3. Generation:
                    </div>
                    <button id="calculateButton" disabled="true">Generate</button>
                    <div id="subjectInfo">
                        Select some subjects to begin.
                    </div>
                </div>
                <div class="content contenttop">
                    <div class="label">
                        4. Selection:
                    </div>
                    <div>
                        Slide to select a timetable:
                    </div>
                    <div id="slider"></div>
                    <div id="timetablesInfo"></div>
                </div>
                <div class="content">
                    <div class="label">
                        5. Editing:
                    </div>
                    <div>
                        Drag classes around to further refine your timetable.
                    </div>
                    <hr />
                    <div class="sortOption">
                        <label for="forceStreamedCheckbox">Keep classes streamed:</label>
                        <input class="sortCheckbox" id="forceStreamedCheckbox" type="checkbox" checked="checked" />
                    </div>
                </div>
            </div>
        </div>
        <div id="right">
            <div id="timetableBorder" class="borderhigh">
                <div id="timetable">

                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div>
            Made by <a href="http://ruar.ai">ruarai</a>.
            Source available on <a href="https://github.com/ruarai/unimelb-timetable-net">GitHub</a>.
        </div>
        <div>
            Semester 2 2018
        </div>
    </div>
</body>
</html>