@using Timetabling;
@model List<Subject>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Unimelb Timetabling App</title>
    <meta charset="utf-8" />

    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/jquery-ui.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/awesomplete.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/fullcalendar.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat|PT+Sans" rel="stylesheet">

    <script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>

    <script src="~/scripts/jquery-3.3.1.min.js"></script>
    <script src="~/scripts/jquery-ui.min.js"></script>

    <script src="~/scripts/awesomplete.min.js"></script>
    <script src="~/scripts/moment.js"></script>
    <script src="~/scripts/fullcalendar.min.js"></script>

    <script src="~/scripts/signalr.min.js"></script>

    <script type="text/javascript">
        $(function () {
            //Generate a global variable of each of the full subject list
            window.subjectList = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
        });
    </script>
    <script src="~/scripts/client.js"></script>
</head>
<body>
    <div id="left">
        <div class="border borderhigh">
            <div class="content contenttop">
                <div class="label">
                    1. Subject search:
                </div>
                <div>
                    <label for="subjectSearch">Subject:</label>
                    <input id="subjectSearch" />
                </div>
                <hr />
                <div id="subjectList">
                </div>
                <div id="subjectInfo">
                </div>
            </div>
            <div class="content contenttop">
                <div class="label">
                    2. Sorting:
                </div>
                <div class="sortOption">
                    <label for="laterStartsCheckbox">Prefer later starts:</label>
                    <input class="sortCheckbox" id="laterStartsCheckbox" type="checkbox" checked="checked" />
                </div>
                <div class="sortOption">
                    <label for="lessDaysCheckbox">Prefer less days:</label>
                    <input class="sortCheckbox" id="lessDaysCheckbox" type="checkbox" checked="checked" />
                </div>
            </div>
            <div class="content">
                <div class="label">
                    3. Generation:
                </div>
                <button id="calculateButton">Generate</button>
                <div id="progressBar"></div>
                <div id="slider"></div>
                <div id="timetablesInfo"></div>
            </div>
        </div>
    </div>
    <div id="right">
        <div class="border borderlow">
            <div class="content">
                <div id="timetable">

                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</body>
</html>